<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Dogs are the coolest</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>MY DOG!!!!</h1>
   <p>I have a dog named <%= @dog1.name %>. He is a <%= @dog1.breed %>. He is <%= @dog1.age %> years old. :)</p>
 </body>
</html>