<!-- this is where the homepage goes, using HTML -->
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>Clothing Police</h1>
   <h3 id="infopage"><a href="infopage">Info Page</a></h3>
<!--    <form method="POST" action="/success">
    First Pick:<br>
    <input type="text" name="pick1" placeholder="first pick goes here">
    <br>
    Second Pick:<br>
    <input type="text" name="pick2" placeholder="second pick goes here">
    <br>
     Third Pick:<br>
    <input type="text" name="pick3" placeholder="third pick goes here">
    <br><br> -->
   
    <form action="/check" method="get">
     <div id = "items">
       <div id = "dress">
       <img src="images/dress.png" />
      <label for="pick1">Violet Dress</label>
       <input id="pick1" name="pick" type="radio" value="street harassment" />
       </div>
      <br>
       <div id="shirt">
       <img src="images/shirt.png" />
      <label for="pick2">Sapphire Shirt</label>
       <input id="pick2" name="pick" type="radio" value="domestic violence"/>
       </div>
      <br>
       <div id ="skirt">
       <img src="images/skirt.png"/>
       <label for="pick3">Utopia Skirt</label>
      <input id="pick3" name="pick" type="radio" value="rape"/>
       </div>
      <br>
       <div id="purse">
       <img src="images/purse.png"/>
       <label for="pick4">Forever Purse</label>
      <input id="pick4" name="pick" type="radio" value = "other"/>
       </div>
      </div>
      <br>
      Name:<br>
      <input type="text" name="name">
      <br>Phone number:<br>
      <input type="text" name="number">
      <br><br><input type="submit" value="Submit">
</form>
<!--    </form> -->
 </body>
</html>