<!-- this is where the homepage goes, using HTML -->
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>Final Project</h1>
<!--    <form method="POST" action="/success">
    First Pick:<br>
    <input type="text" name="pick1" placeholder="first pick goes here">
    <br>
    Second Pick:<br>
    <input type="text" name="pick2" placeholder="second pick goes here">
    <br>
     Third Pick:<br>
    <input type="text" name="pick3" placeholder="third pick goes here">
    <br><br> -->
   
    <form action="/check" method="get">
    <input id="pick1" name="pick" type="radio" value="street harassment" />
    <label for="pick1">With Love Dress</label>
      <br>
    <input id="pick2" name="pick" type="radio" value="domestic violence"/>
    <label for="pick2">Shirt</label>
      <br>
      <input id="pick3" name="pick" type="radio" value="rape"/>
      <label for="pick3">Skirt</label>
      <br>
      <input id="pick4" name="pick" type="radio" value = "other"/>
      <label for="pick4">Purse</label>
      <br><input type="submit" value="Submit">
</form>
<!--    </form> -->
 </body>
</html>