<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <p>If you are in an environment where you cannot contact the police, this website is a more subtle way for you to reach out for help.</p>
   <h2>If you feel that you are in danger, please select one of the following options (depending on your situation)</h2>
   <br>
   <ul>
   <h3>Dress: If you feel unsafe on the street (ex. being followed, extreme cat calling)</h3>
   <br>
   <h3>Shirt: If you are experiencing domestic violence/abuse</h3>
   <br>
   <h3>Skirt: If you are at risk for rape</h3>
   <br>
   <h3>Purse: If you are experiencing any other discriminatory actions not listed above</h3>
   </ul>
   <br><br>
   <h3>In the contact info section, enter your name and the phone number of an emergency contact. Clicking submit will send a text to them informing them of your situation.</h3>
   <a href="/"><p id = "return">back to shopping</p></a>
 </body>
</html>