<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <p>If you are not in an environment where you can contact the police, this website is a more subtle way for you to reach out for help.</p>
   <h2>If you feel that you are in danger, please select one of the following options (depending on your situation)</h2>
   <br>
   <h4>Violet Dress: If you feel unsafe on the street (ex. being followed, extreme cat calling)</h4>
   <br>
   <h4>Sapphire Shirt: If you are experiencing domestic violence/abuse</h4>
   <br>
   <h4>Utopia Skirt: If you are at risk for rape</h4>
   <br>
   <h4>Forever Purse: If you are experiencing any other discriminatory actions not listed above</h4>
   <br><br>
   <h3>In the contact info section, enter your name and the phone number of an emergency contact. Clicking submit will send a text to them informing them of your situation.</h3>
  <br>
   <a href="/">back to shopping</a>
 </body>
</html>