<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Your Picks</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
   <link rel=""
 </head>
 <body>
   <h1>Success</h1>
   <p>You chose <%= @test.pick1 %>. You chose <%= @test.pick2 %>. You chose <%= @test.pick3 %>.</p>
 </body>
</html>