@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color:#FECADC; 
}
h1 {
  text-align: center;
  color:#A2A7DE;
  font-family:Open Sans;
}
img {
  border-color: #CC0052;
  width: 200px;
  height: 200px;
}

#items {
  background-color:white;
}

