@import url(http://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300);
body {
  background-color:#FFF9FB;
  font-family:Dosis;
}
h1 {
  text-align: center;
  color:#FFBDDE;
  position:relative;
}
img {
  border-color: #CC0052;
  width: 200px;
  height: 230px;
}

#infopage {
  position:absolute;
  right:0px;
  top:-50px;
  width:85px;
  z-index:99;
  text-align:center;
  padding:2px;
  border:1px solid pink;
}

a {
  color:#CC97B2;
}

a:visited {
  color:#CC97B2
}

label {
  margin:20px;
  font-size:25px;
  vertical-align:top;
  width:400px;
  height:100px;
}

.details {
  display: block;
  position: relative;
  top: -180px;
  left: 226px;
}

#items {
  background-color:white;
  width:900px;
  position:relative;
  margin:0 auto;
}

#items div {
  height:220px;
  position:relative;
}

#items input {
  position:absolute;
  top:100px;
  right:50px;
  z-index:999;
}

#info {
  position:absolute;
  left:19%;
  width:400px;
}

#return {
  border:1px solid pink;
  width:110px;
  text-align:center;
}