@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-color:#FECADC; 
}
h1 {
  text-align: center;
  color:#A2A7DE;
  font-family:Open Sans;
}

#items {
  background-color:white;
}

